.app-container{
display: flex;
}

.content{
  width: 100%;
}

/* sideBar Component */
.sidebar{
  min-height: 695px;
}

/* post Component */
.post-card{
 
  margin: 20px 50px;
}

.hashtag{
  margin: 2px;
}

.reactions{

  margin-top: 10px;
}

/* create Post  */
.create-post{
  width: 80%;
  margin-left: 50px;
  margin-top: 50px;

}

.welcome-message{
  margin: 100px 0px;
}
